html {
  font-size: 16px;
}

/*nav bar*/

.nav-bar {
  background-color: rgb(77, 205, 171);
  color: white;
  height: 64px;
  width: 100%;
  display: flex;
  /*align-items: center;*/
}
.logo {
  justify-content: flex-start;
  margin-left: 24px;
  padding-right: 20px;
}
.logo img {
  width: auto;
  height: 100%;
}
/*.logo p {
  display: inline-block;
}*/
p#colmar {
  font-size: 24px;
  font-weight: bold;
}
p#academy {
  font-size: 24px;
  font-style: normal;
}
nav {
  justify-content: flex-end;
}
nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}
nav li {
list-style-type: none;
padding-left: 16px;
}

/*banner section*/
.banner-section {
  padding-top: 32px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: auto;
  background-color: lightgray;
}
.banner-image {
  /*justify-content:  flex-start;*/
  display: block;
  width: 60%;
  margin-left: 24px;
  margin-bottom: 32px;
}
.banner-image img {
  width: 100%;
}
.banner-content {
justify-content: center;
padding-left: 40px;
}

/*practice-section*/

.practice-section {
  display: flex;
  max-width: 100%;
}
