html {
  font-size: 16px;
}

/*nav bar*/

.nav-bar {
  background-color: rgb(77, 205, 171);
  color: white;
  height: 64px;
  width: 100%;
  display: flex;
  /*align-items: center;*/
}
.logo {
  justify-content: flex-start;
  margin-left: 24px;
  padding-right: 20px;
}
.logo img {
  width: auto;
  height: 100%;
}
/*.logo p {
  display: inline-block;
}*/
p#colmar {
  font-size: 24px;
  font-weight: bold;
}
p#academy {
  font-size: 24px;
  font-style: normal;
}
nav {
  justify-content: flex-end;
}
nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}
nav li {
list-style-type: none;
padding-left: 16px;
}

/*banner section*/
.banner-section {
  padding-top: 32px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: auto;
  background-color: lightgray;
}
.banner-image {
  display: block;
  width: 60%;
  margin-left: 24px;
  margin-bottom: 32px;
}
.banner-image img {
  width: 100%;
}
.banner-content {
justify-content: center;
padding-left: 40px;
}

/*practice-section*/

.practice-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 32px;
}
.main-practice-box {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right: 24px;
  padding-left: 24px;
}

.practice-image img{
  width: 100%;
  padding-bottom: 32px;
}


.practice-boxes {
  width: 423px;
}
.practice-box {
display: flex;
flex-direction: row;
width: 100%;
}
.practice-box img {
justify-content: flex-start;
padding: 16px;

}
.orientation-image.campus-image.guest-image {
  width: 35%;
}

.practice-box-text {
/*flex-direction: column;*/
}

/*start-learning*/

.start-learning-box {
  max-width: 100%;
  background-color: lightgray;
  padding-bottom: 32px;

}
.start-learning {
  text-align: center;
  padding-top: 32px;

}

.start-learning-classes {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.learning-box {
  margin-left: 32px;
  margin-top: 16px;
  width: 30%;
  background-color: white;
}
.learning-box img {
  max-width: 100%;
}



/*thesis-section*/

.thesis-section {
}

.thesis-heading {
  text-align: center;
}
.thesis-information {
  width: 100%;
  display: flex;
  flex-direction: row;

}
.video-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 16px;
}
.thesis-video {
  width: 100%;
}

.thesis-events {
  display: flex;
  flex-direction: column;
}
.thesis-detail-section {
  display: flex;
  flex-direction: row;
  /*width: 423px;*/
}
.thesis-detail-section#fisma {
  background-color: lightgray;


}
.thesis-info-image {
  display: flex;
  display: inline;
  padding: 16px;
}
.thesis-infotext {
padding-top: 64px;
}
.footer {
  display: flex;
  align-items: center;
}
.footer-nav a{
  justify-content: flex-end;
}
