html {
  font-size: 18px;
}

/*nav bar*/

.nav-bar-desktop {
  /*background-color: rgb(242, 182,50);*/
  background-color: rgb(154, 137, 101);
  color: white;
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.nav-bar-mobile {
  display: none;
}
.logo {
  justify-content: flex-start;
  height: 100%;
}
.logo img {
  width: auto;
  height: 100%;
  margin-left: 24px;
  margin-right: 20px;
  align-self: center
}

p#colmar {
  font-size: 32px;
  font-weight: bold;
  text-shadow: 3px 2px black;
}
p#academy {
  font-size: 32px;
  font-style: normal;
}

nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}
nav li {
list-style-type: none;
padding-right: 16px;
}
nav li a {
  color: white;
}
nav li a:hover {
  font-size: 125%;
}
/*nav-bar for small screen*/

@media screen and (max-width: 470px;){
  .nav-bar-desktop {
    display: none;
  }
  .nav-bar-mobile {
    display: flex;
    justify-content: space-between;
  }
}


/*banner section*/
.banner-section {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: auto;
  background-color: lightgray;
}
.banner-image {
  display: block;
  width: 60%;
  margin-left: 24px;
  margin-bottom: 32px;
  margin-top: 32px;
}
.banner-image img {
  width: 100%;
  border-radius: 6px;
}
.banner-content {
justify-content: center;
padding-left: 40px;
}
.button {
  justify-content: center;
  display: flex;
}
.button button {
border-radius: 8px;
font-size: 32px;
background-color: rgb(154, 137, 101);
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
  color: white;
}
/*banner-section-small-screen*/

@media screen and (max-width: 470px); {
.banner-section {
  display: flex;
  flex-direciton: column;
}
.banner-image {
  height: 180px;
  width: auto;
}
}
/*practice-section*/

.practice-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 32px;
}
.main-practice-box {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right: 24px;
  padding-left: 24px;
}

.practice-image img{
  width: 100%;
  padding-bottom: 32px;
  border-radius: 6px;
}


.practice-boxes {
  width: 423px;
  display: flex;
  flex-direction: column;
}
.practice-box {
 display: flex;
 flex-direction: row;
}
.image-box {
  min-width: 35%;
  padding: 16px;
}
.image-box img {
 width: 100%;

}

.practice-box-text a {
text-decoration: none;
 }

/*practice-section-small-screen*/

@media screen and (max-width: 470px;){
  .practice-image .practice-image-content {
    display: none;
  }
}


/*start-learning*/

.start-learning-box {
  max-width: 100%;
  background-color: lightgray;
  padding-bottom: 32px;

}
.start-learning {
  text-align: center;
  padding-top: 32px;

}

.start-learning-classes {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.learning-box {
  margin-left: 32px;
  margin-top: 16px;
  width: 30%;
  background-color: white;
}
.learning-box img {
  max-width: 100%;
}



/*thesis-section*/

.thesis-section {
}

.thesis-heading {
  text-align: center;
}
.thesis-information {
  width: 100%;
  display: flex;
  flex-direction: row;

}
.video-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 16px;
}
.thesis-video {
  width: 100%;
}

.thesis-events {
  display: flex;
  flex-direction: column;
}
.thesis-detail-section {
  display: flex;
  flex-direction: row;
  /*width: 423px;*/
}
.thesis-detail-section#fisma {
  background-color: lightgray;


}
.thesis-info-image {
  display: flex;
  display: inline;
  padding: 16px;
}
.thesis-infotext {
padding-top: 64px;
}

/*footer*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
nav a {
  text-decoration: none;
  padding-right: 16px;
  color: rgb(154, 137, 101);
  text-shadow: 1px 0px black;
  font-size: 20px;
}
nav a:hover {
  font-size: 125%;
}
